extends base
include mixins/video

block upload
    nav
        ul 
            li 
                a(href="videos/upload") Upload
            li 
                a(href="/search") Search
            if loggedIn
                li 
                    a(href="/logout") Log Out
                li 
                    a(href="/my-profile") #{loggedInUser.name} Profile
            else
                li 
                    a(href="/login") Login
                li 
                    a(href="/join") Join


block content
    each fish in videos
        +video(fish)
    else 
        li Sorry nothing found.