extends base


block content
   if errorMessage
      span=errorMessage
   form(method="POST")
        input(name="name", type="text", required, placeholder="name")
        input(name="email", type="email", required, placeholder="email")
        input(name="username", type="text", required, placeholder="username")
        input(name="password", type="password", required, placeholder="password")
        input(name="password2", type="password", required, placeholder="Confirm Password")
        input(name="location", type="text", required, placeholder="location")
        div.submit__btn
         input(type="submit", value="Join")


        include partials/social-login
   div.auth-switch
        span Already have an account? 
        a(href="/login") Log in now &rarr;