extends base


block content
   if errorMessage
      span=errorMessage
   form(method="POST")
        input(name="username", type="text", required, placeholder="username")
        input(name="password", type="password", required, placeholder="password")
        div.submit__btn
         input(type="submit", value="Loin")


         include partials/social-login
   div.auth-switch
        span Already have an account? 
        a(href="/join") Create one now &rarr;