extends base
include mixins/video

block upload
    nav
        ul 
            li 
                a(href="videos/upload") Upload
            if loggedIn
                li 
                    a(href="users/edit") Edit Profile
                li 
                    a(href="/users/logout") Log Out
                li 
                    a(href="/my-profile") #{loggedInUser.name} Profile
            else
                li 
                    a(href="/login") Login
                li 
                    a(href="/join") Join

                li 
                    a(href="/") Home
                li 
                    a(href="videos/upload") Upload


block content
    form(method="GET")
        input(placeholder="Search by title", name="keyword", type="text")
        input(type="submit",value="Search now")

    div
        each fish in videos 
            +video(fish)